@{ 
    Layout = null;
}
@model ChatApplication.ViewModels.UserViewModels
<!DOCTYPE html>
<html>
<head>
    <title>Registration Page</title>
  

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/all.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/fontawesome.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/brands.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/regular.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/solid.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/svg-with-js.css" rel="stylesheet" />
    <link href="~/lib/fontawesome-free/css/v4-shims.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!--Custom styles-->
    <link href="~/css/registration.css" rel="stylesheet" />
</head>
<body>


    <!------ Include the above in your HEAD tag ---------->

    <div class="col-lg-6 col-md-6 col-sm-12 col-lg-offset-3 col-md-offset-3" id="login">
        <section id="inner-wrapper" class="login">
            <article>
                <form asp-controller="Account" asp-action="Register">
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user"> </i></span>                  @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name", autocomplete = "off" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope"> </i></span>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email", autocomplete = "off" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Password", autocomplete = "off" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-key"> </i></span>
                            @Html.EditorFor(model => model.ConfirmedPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirm Password", autocomplete = "off" } })

                        </div>
                        @Html.ValidationMessageFor(model => model.ConfirmedPassword, "", new { @class = "text-danger" })
                    </div>
                  
                          
                    <button type="submit" class="btn btn-danger btn-block">  <span class="input-group-addon"><i class="fa fa-save"> </i></span> Submit</button>
                     
                 
                </form>
            </article>
        </section>
    </div>
    </body>
</html>